/* ==========================================================================
   Right Navi
   ========================================================================== */
.mi-container {
/*  	-webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
	-o-transform: translateZ(0);
    transform: translateZ(0);
	width: 100%; */
}

.mi-container * {
	box-sizing: border-box;
	font-weight: inherit;
	font-family: inherit;
}

.menuItems {
	padding: 0 10px 0 0;
	z-index: 1;
}

.mi-position_right {
 	right: 15px;
}
.mi-position_left {
 	left: 15px;
}

.mi-fixed {
	position: fixed;
	top: 50%;
}

.mi-absolute {
	position: absolute;
	transition: all 0.2s;
}

.menuItems .item, .owl-carousel .owl-dot span {
	text-align: left;
	text-transform: uppercase;
	background: transparent !important;
    /*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#00000000');  IE */
	cursor: pointer;
	position: relative;
	margin-top: 10px;
}

.mi-position_right .item {
	text-align: right;
}

.menuItems .item * {
	transition: all 0.2s;
	-ms-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	box-sizing: border-box;
}

.menuItems .item span {
	opacity: 0;
	position: absolute;
	top: 0;
	letter-spacing: 3px;
	visibility: hidden;
	font-size: 13px;
	line-height: 14px;
}

.mi-position_right .item span {
	right: -10px;
}
.mi-position_left .item span {
	left: -10px;
}

.menuItems .item:hover span {
	opacity: 1;
	visibility: visible;
}

.mi-position_left .item:hover span {
	left: 20px;
}

.mi-position_right .item:hover span {
	right: 20px;
}

.menuItems .item .circle {
	margin: 0 auto;
	position: relative;
}

.menuItems .item .circle {
	height: 0px !important;
	width: 0px !important;
    /*float: right;*/
	border-radius: 50%;
	content: '';
	border: 2px solid white;
	-webkit-transition: all 0.2s;
	opacity: 1 !important;
}

@media only screen and (max-width: 1170px) {
	.menuItems {
		/*display: none;*/
	}
}

.mi-position_right .active.mi-bounceButton {
	-webkit-animation: bounceCircleRight;
	-moz-animation: bounceCircleRight;
	-ms-animation: bounceCircleRight;
	-o-animation: bounceCircleRight;
	animation: bounceCircleRight;
}

.mi-position_left .active.mi-bounceButton {
	-webkit-animation: bounceCircleLeft;
	-moz-animation: bounceCircleLeft;
	-ms-animation: bounceCircleLeft;	
	-o-animation: bounceCircleLeft;
	animation: bounceCircleLeft;
}

.mi-position_right .active.mi-showText span {
	-webkit-animation: showText_right;
	-moz-animation: showText_right;
	-ms-animation: showText_right;
	-o-animation: showText_right;
	animation: showText_right;
}

.mi-position_left .active.mi-showText span {
	-webkit-animation: showText_left;
	-moz-animation: showText_left;
	-ms-animation: showText_left;
	-o-animation: showText_left;
	animation: showText_left;
}

@keyframes bounceCircleRight {
	0% {
		right: 0;
	}

	50% {
		right: 20px;
	}

	100% {
		right: 0;
	}
}

@-webkit-keyframes bounceCircleRight {
	0% {
		right: 0;
	}

	50% {
		right: 20px;
	}

	100% {
		right: 0;
	}
}

@keyframes bounceCircleLeft {
	0% {
		left: 0;
	}

	50% {
		left: 20px;
	}

	100% {
		left: 0;
	}
}

@-webkit-keyframes bounceCircleLeft {
	0% {
		left: 0;
	}

	50% {
		left: 20px;
	}

	100% {
		left: 0;
	}
}

/* fewfew */

@keyframes showText_right {
	0% {
		opacity: 0;
		right: 0px;
		visibility: visible;
	}

	50% {
		opacity: 1;
		right: 20px;
		visibility: visible;
	}

	100% {
		opacity: 0;
		right: 0px;
		visibility: visible;
	}
}

@-webkit-keyframes showText_right {
	0% {
		opacity: 0;
		right: 0px;
		visibility: visible;
	}

	50% {
		opacity: 1;
		right: 20px;
		visibility: visible;
	}

	100% {
		opacity: 0;
		right: 0px;
		visibility: visible;
	}
}


@keyframes showText_right {
	0% {
		opacity: 0;
		right: 0px;
		visibility: visible;
	}

	50% {
		opacity: 1;
		right: 20px;
		visibility: visible;
	}

	100% {
		opacity: 0;
		right: 0px;
		visibility: visible;
	}
}

@-webkit-keyframes showText_left {
	0% {
		opacity: 0;
		left: 0px;
		visibility: visible;
	}

	50% {
		opacity: 1;
		left: 20px;
		visibility: visible;
	}

	100% {
		opacity: 0;
		left: 0px;
		visibility: visible;
	}
}

@-webkit-keyframes showText_left {
	0% {
		opacity: 0;
		left: 0px;
		visibility: visible;
	}

	50% {
		opacity: 1;
		left: 20px;
		visibility: visible;
	}

	100% {
		opacity: 0;
		left: 0px;
		visibility: visible;
	}
} 